<hr>

<body>
  <div class="pokiCard">
    <div class="flip-card" *ngIf="pokemon">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41d3ac77-2823-4e18-8910-a48de63acf87/d8xl0ja-ca02368b-643f-42f4-9721-f3895e14690d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQxZDNhYzc3LTI4MjMtNGUxOC04OTEwLWE0OGRlNjNhY2Y4N1wvZDh4bDBqYS1jYTAyMzY4Yi02NDNmLTQyZjQtOTcyMS1mMzg5NWUxNDY5MGQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dUhAjPqt1Rkudg3gHjqPNOQAuaA2wmXZ7T-Lq6L28O8"
            alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h6>{{pokemon.name}} </h6>
          <mat-icon>{{pokemon.typeIcons[0]}}</mat-icon>
          <div class="row justify-content-center">
            <div class="col" align="center">
              <img [src]="pokemon.sprites.front_default">
              <div align="left">
              <div><span>species:</span>{{pokemon.species}}</div>
              <!-- <div><span>types:</span><span *ngFor="let ptype of pokemon.types">{{ptype.type.name | uppercase}} </span> -->
                <div><span>types:</span>{{pokemon.typeList | uppercase}}
              </div>
              <div><span>default:</span>{{pokemon.is_default}}</div>
              <div><span>default:</span>{{pokemon.stats}}</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <div class="card" *ngIf="pokemon">
  <div class="container">
    <h2>{{pokemon.name | uppercase}} Details</h2>
    <div><span>id: </span>{{pokemon.id}}</div>
    <div><span>name: </span>{{pokemon.name}}</div>

    <div>
      <label for="name">Pokemon name: </label>
      <input id="name" [(ngModel)]="pokemon.name" placeholder="name">
    </div>
  </div>
</div> -->
