  <div class="flip-card">
    <div class="flip-card-inner" [ngClass]="{'flip-card-inner-rotate': pokemonService.pokemon}">
      <div class="flip-card-front">
        <div class="poke-img">
          <img src="assets/images/pokemonCard.jpeg" alt="Avatar" style="width:300px;height:300px;"> </div>
      </div>
      <div class="flip-card-back">

        <div class="container">
          <div class="row">
            <div class="col" align="left">
              <h6>{{pokemonService.pokemon?.name}} </h6>
            </div>
            <div class="col-3"> </div>
            <div class="col" align="right">
              <mat-icon>{{pokemonService.pokemon?.typeIcons[0]}}</mat-icon>
            </div>
          </div>
        </div>


        <audio id="audio" #audio controls style="display: none">
          <source [src]="'https://play.pokemonshowdown.com/audio/cries/' + pokemonService.pokemon?.name +'.mp3'">
        </audio>

        <div class="row justify-content-center">
          <div class="col" align="center">
            <img class="pointer" (click)="audio.play()" [src]="pokemonService.pokemon?.sprites.front_default">
            <div align="left">
              <div><span>type(s):</span>{{pokemonService.pokemon?.typeList | uppercase}} </div>
              <div class="row" style="max-width: 350px;">
                <div class="col-12 col-md-6" *ngFor="let stat of statsArray; let i = index">
                  <div><span>{{stat}}: </span>{{pokemonService.pokemon?.stats[i].base_stat}}</div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': (100 * pokemonService.pokemon?.stats[i].base_stat) / 255 + '%',
                      background: (100 * pokemonService.pokemon?.stats[i].base_stat) / 255 < 20 ? 'red' : (100 * pokemonService.pokemon?.stats[i].base_stat) / 255> 50
                      ? 'green'
                      : 'orange'
                      }" aria-valuenow="0" aria-valuemin="0" aria-valuemax="255"></div>
                  </div>
                </div>
                <div><span>moves:</span>{{pokemonService.pokemon?.movesList}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
